{
	"extends": [
		"react-app",
		"airbnb",
		"plugin:jsx-a11y/recommended",
		"prettier",
		"prettier/react"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
	"rules": {
        "prefer-promise-reject-errors": "off",
        "quotes": [2, "double", { "avoidEscape": true }],
		"max-len": [
			"error",
			{ "code": 80, "ignoreComments": true, "ignoreUrls": true, "ignoreStrings": true }
		],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", "tsx"] }],
        "react/jsx-one-expression-per-line": [0],
        "import/no-unresolved": 0,
        "import/extensions": 0
	},
	"plugins": ["jsx-a11y"],
	"env": {
		"es6": true,
		"jest": true,
		"browser": true
	}
}