.icon {
  /* background-color: red; */
  /* remove the padding here so that in the media query the variable represents the important height */
  height: calc(var(--nav--mobile-closed-height) - 0.15em);
  width: calc(var(--nav--mobile-closed-height) - 0.15em);
  overflow: hidden;
  /* margin-bottom: 0.5em; */
  z-index: 2;
  padding: 0.15em;
}

.icon * {
  margin: 0;
  padding: 0;
}

.open {
  margin-top: -0.5rem;
  font-size: 2rem;
}