.page {
  min-height: 100vh;
  padding: 3vmin;
  box-sizing: border-box;
}

.page--white {
  background-color: white;
  color: black;
}

.page--black {
  background-color: black;
  color: white;
}

/* all of the immediate children of pages with content except Nav elements */
.page--content > *:not(.nav) {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
