/* media query for font sizes is in index.css */
.contact {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__banner * {
  margin: 0;
  padding: 0;
}

.contact__number {
  font-family: Merriweather, serif;
  font-size: var(--contact__number-size);
}

.contact__name {
  font-family: Roboto, sans-serif;
  font-size: var(--contact__name-size);
}

.contact__email {
  text-align: right;
  font-size: var(--contact__email-size);
}
