/* media query in index.css */
.contact__banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}

.contact__banner * {
  margin: 0;
  padding: 0;
}

.contact__banner h1 {
  font-family: Merriweather, serif;
  font-size: var(--contact__number-size);
}

.contact__banner h2 {
  font-family: Roboto, sans-serif;
}

.name {
  font-size: var(--contact__name-size);
}

.contact__email {
  text-align: right;
  font-size: var(--contact__email-size);
}
