.page {
    min-height: 100vh;
}

.page--white {
    background-color: pink;
    color: black;

}

.page--black {
    background-color: black;
    color: white;
}

.about-page {
    background-color: black;
    color: white;
    min-height: 100vh;
}

.contact-page {
    background-color: grey;
    color: white;
    min-height: 100vh;
}

.home-page {
    background-color: white;
    color: black;
    min-height: 100vh;
}