.bio p {
  font-size: var(--standard-text-size);
}

.bio img {
    max-width: 33%;
    float: left;
    display: inline-block;
    padding-right: 1em;
}

.page--white .bio a {
  color: var(--page--white_fg);
}

.page--black .bio a {
  color: var(--page--black_fg);
}
