.central-banner {
  position: absolute;
  top: 60vh;
  transform: translateY(-50%);
  width: 75%;
}

.strapline {
  padding: 0;
  margin: 0;
}

.page--white .strapline {
  font-family: Merriweather, serif;
  font-size: 5.5vw;
}

.page--black .strapline {
  font-family: Roboto, sans-serif;
  font-size: 6vw;
}

.strapline__name {
    text-decoration: none;
}

.page--white .strapline__name {
  color: #b30f00;
}

.page--black .strapline__name {
  color: yellow;
}

/* .stack {
  grid-area: b;
  border-left: 5px solid;
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw;
}

.page--white .stack {
  border-color: black;
}

.page--black .stack {
  border-color: white;
}

.stack p {
  padding: 1vh 0 1vh 5vh;
  margin: 0;
} */

/* .stack {
    max-width: 20%;
    display: inline;
} */
