.central-banner {
  /* position: absolute;
  top: 60vh;
  transform: translateY(-50%);
  width: 75%; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strapline {
  padding: 0;
  margin: 0;
}

.page--white .strapline {
  font-family: Merriweather, serif;
  font-size: 5.5vw;
}

.page--black .strapline {
  font-family: Roboto, sans-serif;
  font-size: 6vw;
}

.strapline__name {
    text-decoration: none;
}

.page--white .strapline__name {
  color: var(--page--white_highlight);
}

.page--black .strapline__name {
  color: var(--page--black_highlight);
}
