.project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2em 0;
}

.page--white .project a {
  color: black;
}

.page--black .project a {
  color: white;
}

.project__image {
  grid-column: 1;
  max-width: 200px;
  max-height: auto;
}

.project__text {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 1em;
}

.project__text h2 {
  margin-top: 0;
  grid-row: 1;
  grid-column: 1/3;
  text-decoration: underline;
}

.project__description {
  grid-column: 1/3;
}

.project__tech-stack {
  grid-column: 3;
}

.project__text p,
.project__tech-stack li {
  font-size: var(--standard-text-size);
}

.project__tech-stack ul {
  padding-left: 1em;
}

.project h2,
.project h3 {
  text-transform: uppercase;
}

.project__text h3,
.project__text ul {
  margin: 0;
  margin-bottom: 0.3em;
}

.project__description p {
  margin-top: 0;
}
