.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-section__arrow {
  margin-top: 5vh;
  height: 3em;
  width: auto;
}

.page--black .project-section__arrow:hover {
  color: var(--page--black_highlight);
}

.page--white .project-section__arrow:hover {
  color: var(--page--white_highlight);
}
