.project {
  display: flex;
  margin: 5vw;
}

.project__image {
  flex-shrink: 1;
  max-height: 22em;
}

/* This rule centers the mobile in mobile view. It does nothing in the desktop, when the parent flexbox (in project.css) hasn't expanded the link. */
a.project__image {
  display: flex;
  justify-content: center;
}

.project__titlebar * {
  font-family: Merriweather, serif;
  font-style: italic;
  margin: 0.1em 0;
}

.project__title {
  text-decoration: none;
}

.project__title:hover {
  text-decoration: underline;
}

.project__titlebar {
  margin: 1.5em 0;
}

.project__content * {
  font-size: 0.8em;
  font-family: Roboto, sans-serif;
}
