body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --contact__name-size: 3vw;
  --contact__number-size: 5vw;
  --contact__email-size: 2vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather Regular"),
    url(./fonts/merriweather/Merriweather-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"),
    url(./fonts/Roboto-Regular.ttf) format("truetype");
}

/* the breakpoint is also coded in JS in the component Nav */
@media only screen and (max-width: 900px) {
  body {
    --contact__name-size: 5vw;
    --contact__number-size: 7vw;
    --contact__email-size: 4vw;
  }
  .contact__banner {
    width: 90vw;
  }
}
