body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font sizing */
  --contact__name-size: 3vw;
  --contact__number-size: 5vw;
  --contact__email-size: 2vw;
  --standard-text-size: 1.175em;

  /* colours */
  --page--black_bg: black;
  --page--black_fg: white;
  --page--black_highlight: yellow;
  --page--white_bg: white;
  --page--white_fg: black;
  --page--white_highlight: #b30f00;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather Regular"),
    url(./assets/fonts/merriweather/Merriweather-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"),
    url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
}

/* the breakpoint is also coded in JS in the component Nav */
@media only screen and (max-width: 900px) {
  body {
    --contact__name-size: 5vw;
    --contact__number-size: 7vw;
    --contact__email-size: 4vw;
  }
  .contact__banner {
    width: 90vw;
  }
  .project {
      display: inline-block!important;
  }
}
