.link--disabled {
  pointer-events: none;
}

/* .nav class also mentioned in page.css */
.nav {
  font-size: 1.5em;
  font-family: "Roboto" sans-serif;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  position: relative;
}

.page--white .nav a {
  color: var(--page--white_fg);
}

.page--black .nav a {
  color: var(--page--black_fg);
}

.page--white .nav a::before,
.page--black .nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125em;
  top: 1.25em;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.page--white .nav a::before {
  background-color: var(--page--white_highlight);
}

.page--black .nav a::before {
  background-color: var(--page--black_highlight);
}

.page--white .nav a:hover::before,
.page--white .nav a:focus::before,
.page--white .nav a.link--disabled::before,
.page--black .nav a:hover::before,
.page--black .nav a:focus::before,
.page--black .nav a.link--disabled::before {
  visibility: visible;
  transform: scaleX(1);
}
